/* Add mobile styles for the component here.  */
.page {
  align-items: center;
  flex-direction: column;
}
.form {
  margin-left: 30;
  margin-right: 30;
  flex-grow: 2;
  vertical-align: middle;
}
.header {
  horizontal-align: center;
  font-size: 25;
  font-weight: 600;
  margin-bottom: 70;
  text-align: center;
  color: #eb0000;
  margin-top: 25;
}
.input-field {
  margin-bottom: 25;
}
.input {
  font-size: 18;
  placeholder-color: #A8A8A8;
}
.pw-peek {
  horizontal-align: center;
}
.pw-peek-label {
  color: #A8A8A8;
  font-size: 16;
  vertical-align: center;
}
.pw-peek-icon {
  margin: 4;
  padding: 2 5 2 5;
  color: #A8A8A8;
  font-size: 20;
}