<app-action-bar title="Email bestätigen"></app-action-bar>
<ScrollView>
    <StackLayout class="page containter">
        <Label class="header" text="Danke für die Registrierung bei SmartCup!" textWrap="true"></Label>
        <Label *ngIf="email" class="h4" textWrap="true">
            <FormattedString>
                <Span text="Um die Registrierung abzuschliessen bestätige bitte die Email, welche an "></Span>
                <Span text="{{ email }} " class="bold email"></Span>
                <Span text="gesendet wurde."></Span>
            </FormattedString>
        </Label>
        <Label *ngIf="!email" class="h4" text="Um die Registrierung abzuschliessen, bestätige bitte die Email, welche du von uns erhalten hast." textWrap="true"></Label>
        <Button text="OK, mache ich!" (tap)="onOkay()" class="btn btn-primary m-t-20"></Button>
        <!-- <Label text="Mit anderem Account anmelden" class="login-label" (tap)="onNavigateToLogin()"></Label> -->
    </StackLayout>
</ScrollView>