<app-action-bar title="Passwort ändern"></app-action-bar>
<ScrollView>
    <FlexboxLayout class="page">
        <StackLayout class="form">
            <Label class="header" text="Passwort ändern"></Label>
            <PreviousNextView>
                <GridLayout rows="auto, auto, auto">
                    <StackLayout row="0" class="input-field">
                        <TextField #oldPassword #oldPasswordModel="ngModel" class="input" hint="Altes Passwort" [isEnabled]="!processing"
                            autocorrect="false" autocapitalizationType="none" [(ngModel)]="enteredOldPassword" returnKeyType="next" required
                            secure="true" (returnPress)="focusOldPassword()"></TextField>
                        <StackLayout class="hr-light"></StackLayout>
                    </StackLayout>
                    <StackLayout row="1" class="input-field">
                        <TextField #password #passwordModel="ngModel" class="input" hint="Neues Passwort"
                            [isEnabled]="!processing" autocorrect="false" autocapitalizationType="none"
                            [(ngModel)]="enteredPassword" returnKeyType="next" required secure="true"
                            (returnPress)="focusPasswordConfirm()"></TextField>
                        <StackLayout class="hr-light"></StackLayout>
                    </StackLayout>
                    <StackLayout row="2" class="input-field">
                        <TextField #passwordConfirm #passwordConfirmModel="ngModel" class="input"
                            hint="Neues Passwort bestätigen" [isEnabled]="!processing" autocorrect="false"
                            autocapitalizationType="none" [(ngModel)]="enteredPasswordConfirm" returnKeyType="done"
                            required secure="true"></TextField>
                        <StackLayout class="hr-light"></StackLayout>
                    </StackLayout>
                </GridLayout>
            </PreviousNextView>
            <StackLayout class="pw-peek">
                <GridLayout columns="auto, auto" rows="auto">
                    <Label col="0" class="pw-peek-label" (tap)="onTogglePeekPassword()">
                        <FormattedString>
                            <Span [text]="passwordHidden ? 'Passwörter anzeigen ' : 'Passwörter verbergen '"></Span>
                        </FormattedString>
                    </Label>
                    <Label *ngIf="passwordHidden" col="1" class="pw-peek-icon fa" text="&#xf06e;&nbsp;"
                        verticalAlignment="center" (tap)="onTogglePeekPassword()"></Label>
                    <Label *ngIf="!passwordHidden" col="1" class="pw-peek-icon fa" text="&#xf070;&nbsp;"
                        verticalAlignment="center" (tap)="onTogglePeekPassword()"></Label>
                </GridLayout>
            </StackLayout>

            <ActivityIndicator rowSpan="3" [busy]="processing"></ActivityIndicator>
            <Button text="Bestätigen"
                [isEnabled]="!processing && oldPasswordModel.valid && passwordModel.valid && passwordConfirmModel.valid"
                (tap)="onSubmit()" class="btn btn-primary m-t-20"></Button>
        </StackLayout>
    </FlexboxLayout>
</ScrollView>