/* Add mobile styles for the component here.  */
.scan-modal {
    padding: 10;
    background-color: white;
}
.h3 {
    margin: 5;
}
.scan-label {
    margin: 5;
    font-weight: bold;
}
.scan-info {
    margin: 5;
}
.status-reserved {
    background-color: #F6F6F6;
}

.status-verified {
    background-color: #2d327d;
}

.status-rewarded {
    background-color: #444444;
}

.status-overbid {
    background-color: #A20013;
}

.card {
    background-color: #fff;;
    color: #4d4d4d;
    border-radius: 5;
}

.scan-value {
    margin: 5 5 5 10;
}

.close-button {
    margin-top: 30;
}