<ScrollView>
    <FlexboxLayout class="page">
        <StackLayout class="form">
            <Image *ngIf="isLoggingIn" class="logo" src="~/assets/logo.png"></Image>
            <Label class="header" text="SBB GreenCup"></Label>

            <PreviousNextView>
                <GridLayout rows="auto, auto, auto, auto, auto">
                    <StackLayout row="0" *ngIf="!isLoggingIn" class="input-field">
                        <TextField #firstname class="input" hint="Vorname" [isEnabled]="!processing" autocorrect="false"
                            autocapitalizationType="none" [(ngModel)]="enteredFirstname" returnKeyType="next"
                            (returnPress)="focusFirstname()"></TextField>
                        <StackLayout class="hr-light"></StackLayout>
                    </StackLayout>

                    <StackLayout row="1" *ngIf="!isLoggingIn" class="input-field">
                        <TextField #lastname class="input" hint="Nachname" [isEnabled]="!processing" autocorrect="false"
                            autocapitalizationType="none" [(ngModel)]="enteredLastname" returnKeyType="next"
                            (returnPress)="focusLastname()"></TextField>
                        <StackLayout class="hr-light"></StackLayout>
                    </StackLayout>

                    <StackLayout row="2" class="input-field">
                        <TextField class="input" hint="Email" [isEnabled]="!processing" keyboardType="email"
                            autocorrect="false" autocapitalizationType="none" [(ngModel)]="enteredEmail" returnKeyType="next"
                            (returnPress)="focusPassword()"></TextField>
                        <StackLayout class="hr-light"></StackLayout>
                    </StackLayout>

                    <StackLayout class="input-field"row="3">
                        <GridLayout  columns="*, auto">
                            <TextField #password col="0" class="input" [isEnabled]="!processing" hint="Passwort" secure="true"
                                [(ngModel)]="enteredPassword" [returnKeyType]="isLoggingIn ? 'done' : 'next'"
                                (returnPress)="focusConfirmPassword()" (loaded)="typeFaceLoaded($event)"></TextField>
                            <Label *ngIf="passwordHasInput() && passwordHidden" col="1" class="peek-pw fa" text="&#xf06e;&nbsp;"
                                (tap)="onTogglePeekPassword()" verticalAlignment="center"></Label>
                            <Label *ngIf="passwordHasInput() && !passwordHidden" col="1" class="peek-pw fa" text="&#xf070;&nbsp;"
                                (tap)="onTogglePeekPassword()" verticalAlignment="center"></Label>
                        </GridLayout>
                        <StackLayout class="hr-light xyv" verticalAlignment="top"></StackLayout>
                    </StackLayout>

                    <StackLayout row="4" *ngIf="!isLoggingIn" class="input-field">
                        <TextField #confirmPassword class="input" [isEnabled]="!processing" hint="Passwort bestätigen"
                            secure="true" [(ngModel)]="enteredConfirmPassword" returnKeyType="done" (returnPress)="onSubmit()"></TextField>
                        <StackLayout class="hr-light"></StackLayout>
                    </StackLayout>

                    <ActivityIndicator rowSpan="3" [busy]="processing"></ActivityIndicator>
                </GridLayout>
            </PreviousNextView>

            <Button [text]="isLoggingIn ? 'Einloggen' : 'Registrieren'" [isEnabled]="!processing" (tap)="onSubmit()"
                class="btn btn-primary m-t-20"></Button>
            <Label *ngIf="isLoggingIn" text="Passwort vergessen?" class="login-label" (tap)="forgotPassword()"></Label>
        </StackLayout>

        <Label *ngIf="isLoggingIn" class="login-label" (tap)="toggleForm()">
            <FormattedString>
                <Span text="Noch keinen Account? " class="bold"></Span>
                <Span text="Zur Registrierung" class="call-to-action-text"></Span>
            </FormattedString>
        </Label>
        <Label *ngIf="!isLoggingIn" class="login-label sign-up-label" (tap)="toggleForm()">
            <FormattedString>
                <Span text="Zurück zum Login"></Span>
            </FormattedString>
        </Label>
    </FlexboxLayout>
</ScrollView>