/* Add mobile styles for the component here.  */
.ic-overview {
    color: #a2a2a2;
    margin: 15 15 15 0;
    font-size: 28;
}

.overview-label {
    margin: 0 20 0 5;
    font-weight: bold;
}

.email {
    color: blue;
}

.card {
    background-color: white;
}

.card-title {
    margin: 5 0;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.scan-matrix {
    margin-top: 15;
    margin-bottom: 20;
    text-align: center;
    font-weight: bold;
}

.scan-sum {
    margin: 5 0;
    font-size: 26;
}

.status-reserved {
    background-color: #ffff4d;
}

.status-verified {
    background-color: #C8EC85;
}

.status-rewarded {
    background-color: #92DB00;
}

.status-overbid {
    background-color: #EB6A00;
}

.status-empty {
    background-color: #c0c0c0;
}

.section-container {
   padding: 15;
}

.section-separatror {
}

#slideButton {
    background-image: url('~/assets/images/red.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}