/* Add mobile styles for the component here.  */
.ic-overview {
    color: #a2a2a2;
    margin: 15 15 15 0;
    font-size: 28;
}

.overview-label {
    margin: 0 20 0 5;
    font-weight: bold;
}

.email {
    color: blue;
}

.card {
    background-color: white;
}

.card-title {
    margin: 5 0;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.scan-matrix {
    margin-top: 15;
    margin-bottom: 20;
    text-align: center;
    font-weight: bold;
}

.scan-sum {
    margin: 5 0;
    font-size: 26;
}

.status-reserved {
    background-color: #F6F6F6;
}

.status-verified {
    background-color: #2d327d;
}

.status-rewarded {
    background-color: #444444;
}

.status-overbid {
    background-color: #A20013;
}

.status-empty {
    background-color: #c0c0c0;
}

.section-container {
   padding: 15;
   margin-bottom: 20;
}

.section-separatror {
}

.section-main-head {
    horizontal-align: center;
}

.section-sub-head {
    vertical-align: center;
    color: #a2a2a2;
    margin-right: 15;
}
.user-warning {
    color: #d9534f;
}

#slideButton {
    background-image: url('~/assets/images/red.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    border-width: 1;
    border-color: #e10000;
    border-radius: 5;
}

.ns-ios #slideButtonLabel {
    font-size: 15;
}

#slideButtonLabel {
    margin: 15;
}

#slideButtonImage {
    width: 30;
    height: 30;
    animation-name: slide-animation;
    animation-duration: 1;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin: 20 30 20 0;
}

.fab-button {
    height: 58;
    width: 58; 
        /* required on iOS */
    margin: 20;
    background-color: #eb0000;
    vertical-align: bottom;
    horizontal-align: right;
}


@keyframes slide-animation {
    0%   { transform: translate(-20, 0); }
    50%  { transform: translate(0, 0); }
    100% { transform: translate(20, 0); }
}
