#carousel {
    background-color: #eb0000;
    color: white;
    font-size: 17;
    width: 100%;
}

#slide1 {
    background-image: url('~/assets/images/railcoffee.jpg');
    background-size: cover;
    width: 100%;
}

.item-title {
    font-size: 25;
}

.item-text {
    text-align: center;
}



.item-flexbox {
    height: 100%;
    padding: 20;
    align-items: center;
    justify-content: center;
}

.btn-flat {
    background-color: white;
}