<GridLayout>
    <Carousel #CarouselView id="carousel" indicatorColor="white" indicatorColorUnselected="#f0b1ad" showIndicator="true" finite="false" bounce="false">
        <CarouselItem id="slide1" class="carousel-item">
            <FlexboxLayout class="item-flexbox">
                <StackLayout>
                    <Label text="SmartCup ☕" class="item-title"></Label>
                    <Label text="" class="item-text" horizontalAlignment="center" textWrap="true"></Label>
                    <Button text="Los gehts" class="btn btn-primary" (tap)="onNavigateToSlide(1)"></Button>
                    <Button text="Zurück" class="btn btn-flat" (tap)="onNavigateBack()" *ngIf="!isFirstRun"></Button>
                    <Button text="Überspringen" class="btn btn-flat" (tap)="onNavigateToTabs()" *ngIf="isFirstRun"></Button>
                </StackLayout>
            </FlexboxLayout>
        </CarouselItem>
        <CarouselItem id="slide2" class="carousel-item">
            <FlexboxLayout class="item-flexbox">
                <StackLayout>
                    <Label text="Geniessen." class="item-title" horizontalAlignment="center"></Label>
                    <Label text="Trinke ein Getränk aus einem SmartCup. Beim Kauf wird ein Depot für den Becher erhoben." class="item-text" horizontalAlignment="center" textWrap="true"></Label>
                </StackLayout>
            </FlexboxLayout>
        </CarouselItem>
        <CarouselItem id="slide3" class="carousel-item">
            <FlexboxLayout class="item-flexbox">
                <StackLayout>
                <Label text="Scannen." class="item-title" horizontalAlignment="center"></Label>
                <Label text="Scanne den Becher mit der App." class="item-text" horizontalAlignment="center" textWrap="true"></Label>
            </StackLayout>
        </FlexboxLayout>
        </CarouselItem>
        <CarouselItem id="slide4" class="carousel-item">
            <FlexboxLayout class="item-flexbox">
                <StackLayout>
                    <Label text="Zurückbringen." class="item-title" horizontalAlignment="center"></Label>
                    <Label text="Deponiere den Becher in einem der Rückgabebehälter." class="item-text" horizontalAlignment="center" textWrap="true"></Label>
                </StackLayout>
            </FlexboxLayout>
        </CarouselItem>
        <CarouselItem id="slide5" class="carousel-item">
            <FlexboxLayout class="item-flexbox">
                <StackLayout>
                    <Label text="Depot erhalten." class="item-title" horizontalAlignment="center"></Label>
                    <Label text="Das Depot wird bei der Reinigung des Bechers gutgeschrieben. Dein Guthaben von mehreren Bechern wird dir an der Kasse der Kantine an der Hilfikerstrasse ausbezahlt." class="item-text" horizontalAlignment="center" textWrap="true"></Label>
                </StackLayout>
            </FlexboxLayout>
        </CarouselItem>
        <CarouselItem id="slide6" class="carousel-item">
            <FlexboxLayout class="item-flexbox">
              <StackLayout>
                  <Label text="Nachhaltig." class="item-title" horizontalAlignment="center"></Label>
                  <Label text="Das Guthaben wird der Person gutgeschrieben, die den Becher als letztes gescannt hat. Man kann daher auch herumliegende Becher scannen und zurückgeben." class="item-text" horizontalAlignment="center" textWrap="true"></Label>
                  <Button text="Start" class="btn btn-flat" (tap)="onNavigateBack()" *ngIf="!isFirstRun"></Button>
                  <Button text="Start" class="btn btn-flat" (tap)="onNavigateToTabs()" *ngIf="isFirstRun"></Button>
              </StackLayout>
          </FlexboxLayout>
        </CarouselItem>
    </Carousel>
</GridLayout>
