#carousel {
    background-color: #eb0000;
    color: white;
    font-size: 17;
}

#image-box {
    background-image: url('~/assets/images/railcoffee.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
}

.item-title {
    font-size: 25;
}

.item-text {
    text-align: center;
}