/* Add mobile styles for the component here.  */
.payout-modal {
    padding: 15;
    background-color: white;
}

.btn-flat {
    background-color: white;
}

.h1 {
    margin: 20 0;
}

.icon {
    font-size: 27;
    padding: 20;
}