/* Add mobile styles for the component here.  */

.card {
    background-color: #fff;;
    color: #4d4d4d;
    margin: 15 15 0;
    border-radius: 5;
}

.card-content {
    border-radius: 10;
    padding: 20;
    font-weight: bold;
    font-size: 30;
    background-color: #fff;
}

.status-reserved {
    background-color: #ffff4d;
}

.status-rewarded {
    background-color: #92DB00;
}

.status-overbid {
    background-color: #EB6A00;
}

.status-empty {
    background-color: #c0c0c0;
}

.scan-label {
    margin: 5 5 5 10;
    font-weight: bold;
}

.default-scan-label {
    margin: 5 5 5 10;
    color: #acacac;
    text-align: center
}

.scan-value {
    margin: 5 5 5 10;
}

.fab-button {
    height: 58;
    width: 58; 
     /* required on iOS */
    margin: 20;
    background-color: #eb0000;
    vertical-align: bottom;
    horizontal-align: right;
  }

  .sort-option {
    margin: 5;
    padding: 15 5 15 5;
    text-align: center;
}

.separator {
    background-color: #eb0000
}

.connection-warning {
    background-color: orange;
    color: white;
    padding: 5;
    margin: 15;
    border: #4d4d4d;
    border-width: 1;
    border-radius: 3;
}

#warning-icon {
    margin: 10;
}