<!-- TODO: Display No-internet connection sign -->
<app-action-bar [title]="actionBarTitle"></app-action-bar>
<GridLayout *ngIf="!connection"  columns="auto, *" rows="auto" class="connection-warning fa">
    <Label col="0" id="warning-icon" text="&#xf071;"></Label>
    <Label col="1" class="body" text="Keine Verbindung zum Internet: Neue QR-Codes werden nicht gespeichert!" textWrap="true"></Label>
</GridLayout>
<StackLayout>
    <GridLayout columns="*, *" rows="auto">
        <Label col="0" class="sort-option" (tap)="onSort('time')">
            <FormattedString>
                <Span text="Zeitraum&nbsp;&nbsp;"></Span>
                <Span class="fa ic-sort" [text]="timeSortIcon"></Span>
            </FormattedString>
        </Label>
        <Label col="1" class="sort-option" (tap)="onSort('status')">
            <FormattedString  >
                <Span text="Status&nbsp;&nbsp;"></Span>
                <Span class="fa ic-sort" [text]="statusSortIcon"></Span>
            </FormattedString>
        </Label>
    </GridLayout>
</StackLayout>
<StackLayout class="separator" height="3"></StackLayout>
<StackLayout visibility="{{ !loaded ? 'visible' : 'collapsed' }}" verticalAlignment="center">
    <ActivityIndicator class="m-t-20" rowSpan="3" busy="true"></ActivityIndicator>
</StackLayout>
<GridLayout *ngIf="loaded && scanCount > 0" class="page">
    <RadListView #scanListView [items]="scans" pullToRefresh="true" (pullToRefreshInitiated)="onPullToRefreshInit($event)">
        <ListViewLinearLayout tkListViewLayout scrollDirection="Vertical" itemInsertAnimation="Slide" itemDeleteAnimation="Slide">
            <ng-template tkListItemTemplate let-scan="item">
                <!-- TODO: On modal click descibe the status in words and other details -->
                <CardView class="card" ripple="true" margin="5" elevation="10" (tap)="onScanTap(scan)" radius="10" ios:shadowRadius="3" android:elevation="6">
                <!-- <CardView class="card list-item-ios" ripple="true" margin="5"> -->
                    <GridLayout columns="20, auto, *" rows="auto, auto, auto">
                        <StackLayout col="0" rowspan="3" [ngClass]="getStatusClass(scan)"></StackLayout>
                        <Label col="1" row="0" class="scan-label" text="Status:"></Label>
                        <Label col="2" row="0" class="scan-value" [text]="getStatusDescription(scan)"></Label>
                        <Label col="1" row="1" class="scan-label" text="Gescannt:"></Label>
                        <Label col="2" row="1" class="scan-value" [text]="getScannedTime(scan)"></Label>
                        <Label col="1" row="2" class="scan-label" text="Becher ID:"></Label>
                        <Label col="2" row="2" class="scan-value" [text]="getCupId(scan)"></Label>
                    </GridLayout>
                </CardView>
            </ng-template>
        </ListViewLinearLayout>
    </RadListView>
    <!-- https://github.com/nstudio/nativescript-floatingactionbutton -->
    <Fab (tap)="onNewScanTap($event)" icon="~/assets/images/scan01_white.png" rippleColor="#f1f1f1" class="fab-button"></Fab>
</GridLayout>
<!-- Show grayed-out default-scan if no scans are found  -->
<GridLayout *ngIf="loaded && scanCount === 0">
    <RadListView id="emptyScanListView" [items]="defaultItems">
        <ng-template let-scan="item" tkListItemTemplate>
            <!-- <Label text="some text" height="50" backgroundcolor="yellow"></Label> -->
            <CardView ripple="true" margin="5" class="card">
                <GridLayout columns="20, *" rows="*, *">
                    <StackLayout col="0" rowspan="2" class="status-empty"></StackLayout>
                    <Label col="1" row="0" class="default-scan-label" [text]="scan.message"></Label>
                    <Label col="1" row="1" class="default-scan-label" [text]="scan.action" textWrap="true"></Label>
                </GridLayout>
            </CardView>
        </ng-template>
    </RadListView>
    <Fab #fab (tap)="onNewScanTap($event)" icon="~/assets/images/scan01_white.png" rippleColor="#f1f1f1" class="fab-button"></Fab>
</GridLayout>